
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }
.navbar-nav.navbar-left .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #ffffff; }

.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }
.navbar.navbar-inverse{
  background: orange;
}

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.test{
  background-color: orange;
}

@media screen and (min-width: 1199px){
  .navbar-form.position{
    margin-top: 10%;
  }

  .fancy-btn.user{
    margin-top: 10%;
 }

 .fancy-btn.cart{
   margin-left: 10%;
 }

  .fancy-btn.plus{
    margin-top: 10%;
 }

  .fancy-btn.position{
    margin-top: 10%;
  }

  .form-control.position{
    display:inline-block;
    position:relative;
    padding-right: 50%;
  }

  .position a{
    margin-left: 3%;
  }

  .iconatmp_size{
    width: 60%;
    margin-top: 3%;
  }

  .nav.navbar-nav.position   {
    position:relative;float:left;margin-right:0;margin-left:0;
    font-size: 20px;
  }

  .nav.navbar-nav.position li {
    position:relative;float:left;margin:0;list-style:none;
    padding-left: 50px;
  }

  .nav.navbar-nav.position a {
    color: #606060;
    width: 200px;;
  }

   .position_menu{
     margin-top: -20px;
   }

   .nav.navbar-nav.visible-md-block.visible-lg-block >li>a{
         margin-left: 40px;
         margin-right: 40px;
   }
  #nov img{
  width: 300px;
  }


   #novita_pizza{
     margin-top: 20px;
   }

   #menu, #novita{
     margin-left: 10%;
     margin-right: 10%;
   }
}

@media screen and (min-width: 1055px) and (max-width: 1199px){
  .navbar-form.position{
    width: 300px;
    margin-top: 15%;
    margin-left: -100px;
  }

  .fancy-btn.user{
    margin-top: 10%;
    margin-right: 0px;
    margin-left: -100px;
    padding:10px 23px;
 }

  .fancy-btn.plus{
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 10px;
 }

  .fancy-btn.position{
    margin-top: 0%;
    margin-left: 8px;
  }

  .form-control.position{
    display:inline-block;
    position:relative;
    padding-right: 40%;
  }
  .col-md-4.position{
    width: 38%;
    margin-left: -50px;
  }
   .position.bell{
     margin-left: -2px;
   }

  .position a{
    margin-left: 3%;
  }

  .iconatmp_size{
    margin-top: 20px;
    width: 60%;
  }

  .nav.navbar-nav.position   {
    position:relative;float:left;margin-right:0;margin-left:0;
    font-size: 20px;
  }

  .nav.navbar-nav.position li {
    position:relative;float:left;margin:0;list-style:none;
    padding-left: 50px;

  }

  .nav.navbar-nav.position a {
    color: #606060;
  }

  #chiSiamo{
    width: 200px;
  }

  #cosaDicono{
    width: 300px;
  }


   .position_menu{
     margin-top: -20px;
   }
   .col-md-4.center-block.text-center{
     width: 300px;
   }

   #nov img{
   width: 300px;
   }

   #novita_pizza{
     margin-top: 20px;
   }

   #menu, #chi_siamo, #novita{
     margin-left: 10%;
     margin-right: 10%;
   }
}

@media screen and (min-width: 991px) and (max-width: 1055px){
  .navbar-form.position{
    margin-top: 10%;
      margin-left: -100px;
  }

  .fancy-btn.user{
    margin-top: 10%;
    margin-right: 0px;
    margin-left: -100px;
    padding:10px 23px;
 }

  .fancy-btn.plus{
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 10px;
 }

  .fancy-btn.position{
    margin-top: 0%;
    margin-left: 8px;
  }

  .form-control.position{
    display:inline-block;
    position:relative;
    padding-right: 40%;
  }
  .col-md-4.position{
    width: 38%;
    margin-left: -50px;
  }
   .position.bell{
     margin-left: -2px;
   }

  .position a{
    margin-left: 3%;
  }

  .iconatmp_size{
    width: 60%;
  }

  .nav.navbar-nav.position   {
    position:relative;float:left;margin-right:0;margin-left:0;
    font-size: 20px;
  }

  .nav.navbar-nav.position li {
    position:relative;float:left;margin:0;list-style:none;
    padding-left: 50px;

  }

  .nav.navbar-nav.position a {
    color: #606060;
  }

  #chiSiamo{
    width: 200px;
  }

  #cosaDicono{
    width: 300px;
  }


   .position_menu{
     margin-top: -20px;
   }

   #nov img{
   width: 300px;
   }

   #novita_pizza{
     margin-top: 20px;
   }

   #menu, #chi_siamo, #novita{
     margin-left: 10%;
     margin-right: 10%;
   }
}


@media screen and (min-width: 767px) and (max-width: 991px){
  .navbar.navbar-inverse .nav-collapse { background-color: orange; }
  .iconatmp_size{
    width: 80%;
  }
  .fancy-btn.user{
    padding:10px 70px;
    margin-left: 30px;
  }

  .fancy-btn.plus{
    padding:10px 61px;
    margin-left: 33px;
  }

  .fancy-btn.out{
    padding:10px 81px;
    margin-left: 30px;
  }

  .prova{
    margin-top: -30px;
  }

  .nav.navbar-nav li>a{
    color: #606060;
  }

  #nov img{
  width: 300px;
  }

  #novita_pizza{
    margin-top: 20px;
  }

  #menu, #chi_siamo, #novita{
    margin-left: 10%;
    margin-right: 10%;
  }
}

.hamburger{
    position:relative;
    margin:25px auto;
    margin-left: 10px;
}

.fancy-btn.cart{
  margin-right: 10px;
}

.iconatmp_position{
  background-color: orange;
  margin-bottom: -20px;

}

.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 15px;
  border:2px solid #e6e6e6;
  color:#4C4C4C;
  font-family:Raleway,serif;
  font-style:italic;
  font-size:15px;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:first-child{
  margin-left: 2%;
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#000000
}
.fancy-btn:hover:after{
  border:2px solid #e6e6e6;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    #navbar-collapse-3 {
        background: #FFBC40;
    }
    .navbar.navbar-inverse .nav-collapse { background-color: #FFBC40; }
    .iconatmp_size{
      width: 30%;
    }

    .fancy-btn{
      margin:5px auto;
    }
    .fancy-btn.bell{
      margin:20px auto;
    }
    .fancy-btn.cart{
      margin:20px auto;
      margin-right: 10px;
      margin-left: 5px;
    }

    .arrow{
      display:inline-block;
      position:relative;
      margin: -8px ;
    }

    .fancy-btn.user{
      padding: 10px 30%;
    }

    .fancy-btn.plus{
      padding: 10px 30%;
    }

    .fancy-btn.out{
      padding: 10px 30%;
      margin-right: 5px;
    }
    .nav.navbar-nav li>a {
      color: #606060;
    }

    #nov img{
    width: 300px;
    }

    #novita_pizza{
      margin-top: 20px;
    }

    #menu, #chi_siamo, #novita{
      margin-left: 10%;
      margin-right: 10%;
    }
}

h4{
  color: black;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.thumbnail {
padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
width: 100%;
}

.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #77a9dd;
    position: relative;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #77a9dd;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #77a9dd;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77a9dd;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}

.nav.navbar-nav.navbar-left.visible-sm-block{
    width: 100%;
    text-align: center;
  }

  .nav.navbar-nav.navbar-left.visible-sm-block > li{
      float: none;
      display: inline-block;
    }

    .nav.navbar-nav.visible-md-block.visible-lg-block{
      width: 100%;
      text-align: center;
    }

    .nav.navbar-nav.visible-md-block.visible-lg-block >li{
        float: none;
        display: inline-block;
    }

    .nav.navbar-nav.visible-md-block.visible-lg-block >li>a{
          color: #606060;
          font-size: 20pt;
    }




body, i{
  font-family:Raleway,serif;
}
