button i, button span {
  vertical-align: middle;
}

button i {
  padding-right: 0.1em;
}

h1, h2, h3, h4, p, dd, dt, .fonted {
  font-family: Raleway;
}

h4 {
  color: WHITE;
}


.item-img {
  position: relative;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
}
.item-img img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item-img:hover img {
  transform:          rotate(10deg) scale(1.5);
  -ms-transform:      rotate(10deg) scale(1.5);
  -moz-transform:     rotate(10deg) scale(1.5);
  -webkit-transform:  rotate(10deg) scale(1.5);
  -o-transform:       rotate(10deg) scale(1.5);
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

label {line-height: 2.5em;}

dt {
  width: 0px;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
