.navbar.navbar-inverse.profilo{
  background: #ffffff;
}

.text{
  display:inline-block;
  position:relative;
  padding:10px 15px;
  padding-bottom: 1px;
  border-bottom: 2px solid orange;
  color:#000000;
  font-family:Raleway,serif;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  margin:5px auto;
}
.text:first-child{
  margin-left: 2%;
  margin-bottom: 20px;
}

.text:hover{
  color:#000000;
  text-decoration: none;
}

.fancy-btn.text{
  display:inline-block;
  position:relative;
  padding:10px 15px;
  border:2px solid orange;
  color:#4C4C4C;
  font-family:Raleway,serif;
  font-style:italic;
  font-size:15px;
  text-decoration:none;
  margin:5px auto;
  transition: color 0.4s
}
.fancy-btn.text.text:first-child{
  margin-left: 2%;
}
.fancy-btn.text:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn.text:hover{
  color:#000000
}
.fancy-btn.text:hover:after{
  border:2px solid orange;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}


.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 15px;
  border:2px solid #e6e6e6;
  color:#4C4C4C;
  font-family:Raleway,serif;
  font-style:italic;
  font-size:15px;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:first-child{
  margin-left: 2%;
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#000000
}
.fancy-btn:hover:after{
  border:2px solid #e6e6e6;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

ul {
  margin-left: -40px;
}


.dati{
  margin-left: 15%;
}

.form-group.salva{
  margin-top: 20px;
  margin-left: -15%;;
}

@media screen and (min-width: 1200px){
  .fancy-btn{
    margin:5px auto;
  }
  .fancy-btn.bell{
    margin:20px auto;
  }
  .fancy-btn.cart{
    margin:20px auto;
    margin-right: 10px;
    margin-left: 5px;
  }
  .position-modifica{
    margin-left: -4%;
    margin-bottom: 20px;
  }

  .position-elimina{
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){

  .position-modifica{
    margin-left: -4%;
    margin-bottom: 20px;
  }

  .position-elimina{
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px){

  .position-modifica{
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .position-elimina{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .fancy-btn{
    margin:5px auto;
  }
  .fancy-btn.bell{
    margin:20px auto;
  }
  .fancy-btn.cart{
    margin:20px auto;
    margin-right: 10px;
    margin-left: 5px;
  }
  .position-modifica{
    margin-left: 6%;
    margin-bottom: 20px;
  }

  .position-elimina{
    margin-bottom: 20px;
  }
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}
